body {
    background-color: #111113 !important;
}

.titulo {
    color: white;
    font-size: 160%;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 8%;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 30px;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel1 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel2 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel3 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel4 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel5 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel6 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel7 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel8 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: flex-start;
}

.carousel-button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-left: 10px; 
}

.carousel-button.prev {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev1 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next1 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev2 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next2 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev3 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next3 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev4 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next4 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev5 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next5 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev6 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next6 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev7 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next7 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.prev8 {
    border-radius: 40%;
    z-index: 1;
}

.carousel-button.next8 {
    border-radius: 40%;
    z-index: 1;
}

.carousel div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel1 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel2 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel3 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel4 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel5 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel6 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel7 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel8 div {
    flex: 0 0 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.carousel img {
    max-width: 450px;
    max-height: 400px;
}

.carousel1 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel2 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel3 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel4 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel5 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel6 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel7 img {
    max-width: 450px;
    max-height: 400px;
}

.carousel8 img {
    max-width: 450px;
    max-height: 400px;
}

.game-title {
    color: white;
    font-weight: bold;
    text-align: start;
    font-size: 150%;
}

.game-price {
    color: white;
    text-align: start;
    font-size: 130%;
}

.titulos-botaos{
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-top: 3%;
}