body{
    background-color: #111113 !important;
}

.jogos-container{
    padding-top: 3rem;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 3rem;
}

.carrosel-container{
    width: 100%;
}

.titu-jogos{
    color: white;
    font-weight: bold;
    font-size: 200%;
}

.textDesc{
    margin-top: 2rem;
    width: 100%;
}

.textDesc p{
    color: white;
    font-size: 100%;
}

.ficTec{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 2rem;
}

.ficTec p{
    color: white;
    padding-right: 10px;
}

.borderText{
    border-right: 2px solid white;
}

.ladoAlado{
    display: flex;
    justify-content: space-between;
}

.compraJogo{
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
}

.compraJogo img{
    display: block;
    margin: 0 auto;
}

.carrosel{
    width: 60%;
}

.textPreco{
    margin-top: 5rem;
    color: white;
    font-size: 120%;
}

.botaoCompra{
    width: 100%;
    background-color: white;
    border-radius: 7px;
    max-height: 10%;
}

.botaoCompra p{
    margin-top: 0.5rem;
    color: black;
    font-size: 130%;
    font-weight: bold;
}

.botaoFav{
    margin-top: 1rem;
    width: 100%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 7px;
    max-height: 10%;
}

.botaoFav p{
    margin-top: 0.5rem;
    color: white;
    font-size: 120%;
}

.descText{
    display: flex;
    justify-content: space-between;
}

.descText p{
    color: white;
    font-size: 100%;
}

.bordaBottom{
    border-bottom: 3px solid white;
}

.first{
    margin-top: 2.5rem;
}

.pesquisar{
    width: 17%;
    margin-left: 15rem;
    margin-top: 3%;
    float: left;
}

.navbar2{
    overflow: auto;
    position: relative;
}

.ancora{
    color: white;
    text-decoration: none;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.ancoras{
    float: left;
    width: 30%;
    margin-top: 3.3%;
}

.formAva{
    background-color: #0C0C0C;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.avaliacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
  
.avaliacao input {
    display: none;
}
  
.avaliacao label {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
}
  
.avaliacao input:checked ~ label {
    color: #ffcc00;
}

.subTitu{
    color: white;
    font-size: 150%;
}

.ladoAlado2{
    display: flex;
    justify-content: space-between;
    width: 21%;
}

.textAva{
    color:white;
    font-size: 130%;
    margin-top: 0.5rem;
}

#mensagem{
    width: 100%;
    color: white;
    background-color: #111113;
    border: 3px solid white;
    border-radius: 10px;
    resize: none;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #0C0C0C;
    color: #ffffff;
    padding: 10px 20px;
}

.testimonial-heading span{
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #0C0C0C;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #ffffff;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #ffffff;
}

.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}

@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}

@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

::selection{
    color: #000000;
    background-color: #ffffff;
}

.botaoEnviar{
    background-color: #a926f1;
    color: white;
    height: 3rem;
    width: 10%;
    margin-top: 1rem;
    font-size: 120%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.subTitu2{
    color: white;
    font-size: 150%;
    margin-top: 2rem;
    text-align: center;
}